sudo: false
language: python

branches:
  only:
    - master
    - /^\d+\.\d+\.X$/

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.3"
      env: TOXENV=py33
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
      dist: xenial
      sudo: true # required workaround for https://github.com/travis-ci/travis-ci/issues/9815
    - python: "pypy"
      env: TOXENV=pypy
    - python: "3.7"
      env: TOXENV=lint

install:
  - "pip install -U pip setuptools"
  - "pip install -U tox"
script:
  - tox
